/* general style  */
* {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

p {
  color: #344563;
}

h2 {
  color: #172b4d;
}

body {
  background-color: #e5e5e5;
  overflow-y: scroll;
}

.header {
  height: 718px;
  background-image: url(./images/shapes.png);
  background-position: 100% 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: 3rem;
  background-color: #fff;
  border-bottom-left-radius: 50px;
}

.logo-txt {
  color: #6070ff;
}

.nav-bar {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 24px;
  color: #6070ff;
}

.nav-bar a {
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  transition: 0.5s;
}

.nav-bar .crntBtn {
  color: #3347ff;
}

.nav-bar i {
  font-size: 16px;
  cursor: pointer;
}

.nav-bar .nav-list {
  display: none;
}

/* menu style */
.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  backdrop-filter: blur(6px);
  padding-top: 30px;
  display: none;
  background-color: #2035f3e8;
  z-index: 100;
}

.menu i {
  font-size: 22px;
  float: right;
  margin-right: 30px;
  color: #fff;
  cursor: pointer;
}

.menu ul {
  margin: 4rem 0 0 28px;
}

/* Pop up section */
.poped-section {
  position: fixed;
  left: 0;
  top: 0;
  background-color: #c1c7d0c7;
  width: 100%;
  height: 100vh;
  backdrop-filter: blur(5px);
  display: none;
  z-index: 100000;
  padding: 20px;
  overflow-y: scroll;
}

.active-menu {
  display: block;
}

.ctn {
  position: relative;
}

#pop-xmark {
  position: absolute;
  left: 87%;
  top: 1.5%;
  z-index: 10000;
  font-size: 24px;
  color: #67798e;
}

.pops-project {
  width: 95%;
  padding: 20px;
  border-radius: 16px;
  background-color: #fff;
  position: relative;
  border: 5px solid #c0cadb;
}

.pops-project img {
  margin-top: 0.5rem;
}

.pops-project .text {
  margin-bottom: -0.4rem;
  width: 65%;
}

.pops-project .btns {
  display: flex;
  justify-content: right;
}

#tempate-image {
  width: 100%;
}

#caption {
  display: flex;
  align-items: center;
}

.btns img {
  margin-left: 0.5rem;
  margin-bottom: 0.5rem;
}

.icons img {
  cursor: pointer;
}

.caption img {
  margin-right: 0.5rem;
  width: 8px;
  height: 8px;
}

#caption img {
  margin-bottom: 0.7rem;
}

.btns i {
  font-size: 1.3rem;
  margin-left: 0.3rem;
}

button {
  border: 1px solid #6070ff;
  color: #396df2;
  background-color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  transition: 0.5s;
}

.btns a {
  display: flex;
  width: 8.5rem;
  padding: 0.3rem;
  align-items: center;
  justify-content: center;
  border: 1px solid #6070ff;
  color: #396df2;
  background-color: #fff;
  border-radius: 8px;
  transition: 0.5s;
  margin-right: 0.5rem;
}

/* End of pop up section */

.languages li {
  padding: 0.2rem 0.5rem;
  background-color: #ebebff;
  color: #6070ff;
  font-weight: 500;
  font-size: 12px;
  border-radius: 8px;
  margin-right: 0.5rem;
  height: 1.5rem;
}

.langs-label li {
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #f7f7f9;
  padding: 0.7rem;
  margin: 1rem 0.2rem;
  border-radius: 8px;
}

.menu ul li {
  margin-top: 20px;
  font-size: 32px;
  line-height: 44px;
}

.pops-project li:nth-child(even) {
  display: none;
}

.menu a {
  font-weight: 600;
  font-size: 32px;
  line-height: 44px;
  color: #fff;
  z-index: 100;
  cursor: pointer;
}

.container {
  height: 100%;
  padding: 1rem  24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 4rem;
}

.container h2 {
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  margin: 3rem 0 12px 0;
  color: #091e42;
}

.container p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.connect h2 {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
  margin: 12px auto;
}

.icons {
  display: flex;
  justify-content: space-between;
  width: 50%;
}

.icons a {
  color: #505f79;
}

.project {
  padding: 16px;
  background-color: #fff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.desktop {
  display: none;
}

.mobile {
  display: flex;
}

.project-img {
  width: 100%;
  border-radius: 10px;
}

.project-title {
  font-size: 32px;
  line-height: 44px;
  font-weight: 700;
}

.caption {
  width: 100%;
  display: flex;
  align-items: center;
  margin: 1rem auto;
}

.project .text {
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
}

.canopy {
  color: #344563 !important;
  font-weight: 600;
}

.caption p {
  font-size: 13px;
  line-height: 16px;
  margin-right: 0.5rem;
  font-weight: 600;
  color: #c1c7d0;
}

.languages {
  display: flex;
  margin: 1rem auto;
}

button:hover {
  background-color: #396df2;
  color: #fff;
}

.projects-container {
  margin: 100px 24px;
  display: grid;
  grid-template-rows: repeat(4, 2fr);
  gap: 45px;
}

/* About section */
.about {
  background-color: #fff;
  padding: 114px 24px;
  border-top-right-radius: 50px;
}

.about-title {
  font-size: 40px;
  line-height: 50px;
  margin-bottom: 24px;
}

.about .connect {
  margin-bottom: 24px;
}

.about .connect h2 {
  margin-bottom: 24px;
}

.about button {
  padding: 0.5rem 1.3rem;
}

.knowledge {
  margin: 2rem auto 0.3rem 0;
  color: #253858;
}

.knowledge .knowledge-label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0.5rem;
  border-bottom: 1px solid #dfe1e6;
  transition: 0.4s;
}

.knowledge-label i {
  cursor: pointer;
}

.knowledge .scrolled {
  border-bottom: 1px solid #fff;
}

.resume h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}

.resume {
  border-bottom: none;
  position: relative;
}

.langs-label {
  background-color: rgba(255, 255, 255, 0.308);
  max-height: 0;
  overflow: hidden;
  transition: 0.2s ease-out;
  display: none;
  padding: 1rem;
}

.active {
  display: block;
  transition: 0.2s ease-out;
}

.langs-label p {
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  margin-left: 1rem;
}

.about .connect li {
  margin-right: 20px;
}

.contact-me {
  height: 730px;
  width: 100%;
  background-image: url("./images/contact-form.png");
  background-position: 100% 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: #6070ff;
  border-top-left-radius: 100px;
  color: #ebebff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.error {
  padding: 0;
  color: rgb(219, 0, 0);
  border-radius: 0 0 5px 5px;
  box-sizing: border-box;
  position: absolute;
  top: 625px;
  left: 190px;
  font-size: 0.9rem;
}

.error.active {
  padding: 0.3em;
}

.contact-me-text {
  margin-top: 70px;
  color: #ebebff;
  font-size: 40px;
  line-height: 52px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 1rem;
}

.ins {
  display: flex;
  flex-direction: column;
}

.contact-me-brief {
  color: #ebebff;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
}

.input-field-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
  margin: 40px;
}

textarea,
input {
  color: #b3bac5;
  background-color: #fff;
  width: 19rem;
  height: 2.5rem;
  margin-bottom: 15px;
  padding-left: 0.4rem;
  border: solid 1px  #cfd8dc;
  font-size: 17px;
  line-height: 20px;
}

textarea {
  height: 10rem;
  color: #b3bac5;
  padding: 0;
}

.input-field {
  align-items: center;
  border-radius: 5px;
  font-weight: 400;
  font-size: 17px;
  line-height: 24px;
}

.write-message {
  color: #172b4d;
  padding: 15px 38px 0 16px;
  border-radius: 5px;
}

.input-field-box button {
  color: #6070ff;
  font-size: 17px;
  background: #fff;
  border: 1px solid #6070ff;
  border-radius: 8px;
  justify-self: start;
  margin-top: 1rem;
}

.input-field-box button:hover {
  color: #fff;
  background-color: blue;
}

.input-field-box:active button {
  color: #fff;
  background-color: #3347ff;
}

@media (min-width: 680px) {
  /* .mobile {
    display: flex;
  } */

  .mobile {
    display: flex;
  }

  .nav-bar .fa-bars {
    display: none;
  }

  .header {
    height: 100vh;
    background-image: url(./images/desktop\ version\ background.png);
    background-position-y: 0;
    border-bottom-left-radius: 100px;
    margin-top: 0;
  }

  .nav-bar {
    position: fixed;
    left: 0;
    top: 0;
    padding: 1rem 10% 1rem 10%;
    background-color: #fff;
    z-index: 10;
  }

  .header .nav-list {
    display: flex;
    align-items: center;
  }

  .nav-list li {
    margin-right: 1.5rem;
    cursor: pointer;
  }

  .nav-list li a {
    color: #344563;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    cursor: pointer;
  }

  .container {
    width: 60%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  .container .br {
    display: none;
  }

  .icons {
    display: flex;
    justify-content: space-between;
    width: 170px;
  }

  /* start of pop up  */

  #pop-xmark {
    left: 92%;
  }

  .poped-section {
    padding: 20px;
  }

  .pops-project {
    width: 90%;
    height: 90vh;
    margin: auto 5%;
    padding: 2rem;
    background-color: rgb(255, 255, 255);
    overflow-y: scroll;
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
  }

  .pops-project::-webkit-scrollbar {
    display: none;
  }

  /* End of pop up section */

  /* portfolio  */
  .project {
    box-sizing: border-box;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 14px;
  }

  .project:nth-child(even) {
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
  }

  .project-img {
    width: 45%;
    margin-left: 24px;
  }

  .project-img:nth-child(even) {
    margin-left: 100px;
  }

  .projects-container {
    margin: 100px 150px;
    display: grid;
    grid-template-rows: repeat(4, 2fr);
    gap: 70px;
    padding: 24px;
  }

  .project-txt {
    width: 45%;
    padding-top: 1rem;
  }

  /* About content */

  .about {
    padding: 114px 13%;
    border-top-right-radius: 50px;
  }

  .about-content {
    display: flex;
    justify-content: space-between;
  }

  .about-text {
    width: 50%;
    margin-right: 7rem;
  }

  .knowledge {
    width: 50%;
  }

  .langv {
    display: flex;
    width: 100%;
  }

  .langs-label ul {
    display: flex;
    z-index: -899;
  }

  .langs-label li {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    box-sizing: border-box;
    width: 122px;
  }

  .langs-label p {
    margin-left: 0;
    margin-top: 0.5rem;
  }

  .poped-section .fa-xmark {
    left: 90%;
    top: 8%;
  }

  /* Contact me section */
  .contact-me {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .input-field-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 40px;
  }

  .ins {
    display: flex;
    flex-direction: column;
  }

  .contact-me p {
    width: 40%;
  }

  textarea,
  input {
    width: 440px;
    height: 2.5rem;
    margin-bottom: 15px;
    padding-left: 0.7rem;
    border: solid 1px  #cfd8dc;
    font-size: 17px;
    line-height: 20px;
    border-radius: 0;
  }

  textarea {
    height: 10rem;
  }

  .input-field,
  .write-message {
    border-radius: 0;
  }

  .input-field-box button {
    position: relative;
    left: 0%;
  }

  .error {
    padding: 0;
    color: rgb(219, 0, 0);
    border-radius: 0 0 5px 5px;
    box-sizing: border-box;
    position: absolute;
    top: 80%;
    left: 41%;
    font-size: 1rem;
  }
}
